.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-content {
    width: 90%;
    max-width: 1400px;
    background-color: #183B4E;
    margin-top: 85px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 50px; 
    padding: 20px; 
    border-radius: 25px;
    background-color: #183B4E;
}

.text-content-about {
    flex: 1;
    color: white;
    min-width: 300px;
    background-color: #183B4E;
}

.text-content-about h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
    background-color: #183B4E;
}

.text-content-about p {
    font-size: 1.1rem;
    line-height: 1.6; 
    margin-bottom: 20px; 
    background-color: #183B4E;
}

.text-content-about table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
    background-color: #183B4E;
}

.text-content-about table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #183B4E;
}

.skills {
    flex: 1;
    color: white;
    min-width: 300px;
}

.skills h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .content-about {
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .content-about {
        gap: 20px;
    }
}